<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-assertive mytabs">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/headline">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="理财产品" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/product">
    <ion-nav-view name="tab-product"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我的财富" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="更多" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->

<div class="tabs tabs-icon-top mytabs">
  <a class="tab-item tab-item-active assertive" nav-transition="none" href="#/home">
    <i class="icon ion-ios-home"></i>
    首页
  </a>
  <a class="tab-item" nav-transition="none" href="#/product">
    <i class="icon ion-ios-paper-outline"></i>
    产品理财
  </a>
  <a class="tab-item" nav-transition="none" href="#/account">
    <i class="icon ion-ios-calculator-outline"></i>
    我的财富
  </a>
  <a class="tab-item" nav-transition="none" href="#/setting">
    <i class="icon ion-ios-more-outline"></i>
    更多
  </a>
</div>